@use "../global/globalCss/CustomAnime.scss";
@use "../global/globalCss/global.scss" as global;
.layer {
  background-color: var(--background_color);
  .container {
    height: 100vh;
    width: auto;
  }
}

@media screen and (min-width: global.$labtop) and (max-width: global.$pc) {
}
@media (min-width: global.$mobile) and (max-width: global.$labtop) {
}
@media (max-width: global.$mobile) {
}
